<!DOCTYPE html>
<html>
<head>

</head>
<body style="background-color: violet; color: white;">
	<h1 style="text-align: center;"><%= data.title %></h1>

	<p style="text-align: center"><%= data.body%></p>

	<a href="/messages">Back</a> 



</body>
</html>